NEXT_PUBLIC_SOLANA_RPC_ENDPOINT=https://rpc.mainnet.x1.xyz
NEXT_PUBLIC_SOLANA_WS_ENDPOINT=wss://rpc.mainnet.x1.xyz
NEXT_PUBLIC_API_ENDPOINT=

# bestXEN Program IDs on X1 Mainnet
NEXT_PUBLIC_PROGRAM_ID_MINER0=9jwmN4omMxC9r9Wa2YbYhVpt9qxHVzprC6ZR11KuE4GU
NEXT_PUBLIC_PROGRAM_ID_MINER1=6VAdRXDe24nDdkaBJmpws51bhUWkp8Y4QPKKPKbZMchE
NEXT_PUBLIC_PROGRAM_ID_MINER2=GvVx5YyjrYwNpkGDFyjvKwdvPCny2zWzWUaK3T3c4zQD
NEXT_PUBLIC_PROGRAM_ID_MINER3=6pR9MXWVEkRLqVBtg9FV4NYPuzjMGNHu8ukvjpzoq5G2
NEXT_PUBLIC_PROGRAM_ID_MINTER=7gxpAbAbiVRefs2QPKzcXEDo2yPUjrXqPMeb4CufaL6f
